.full_body{
    background-color: rgba(127, 255, 212, 0.661);
    padding: 20px;
}

.profile{
    display: flex;
    flex-direction: row;
    padding: 0px 50px 0px 0px;
}

.profile_content{
    background-color: rgba(1, 72, 36, 0.722);
    color: black;
    justify-content: center;
    border-radius: 10%;
}

.image{
    border-radius: 100%;
    width: 300px;
    height: 300px;
}

.link_container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
}

.link{
    background-color: white;
    border-radius: 15%;
    font-size: 20px;
}
